.hits-list {
  margin: -1rem 0 0 -1rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.hit-item {
  margin-top: 1rem;
  margin-left: 1rem;
  /*padding: 1rem;*/
  width: calc(25% - 1rem);
}

.hit-card {
  background: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: .5rem;
}